<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <add key="ERPpresent" value="False"/>
    <add key="ERPuser" value="WEBSERVICE" />
    <add key="ERPpwd" value="webservice" />
    <add key="ERPcode" value="1" />
    <add key="ConfirmationAutomatic" value="True"/>
  </appSettings>

  <connectionStrings>
    <!--    <add name="WMSContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=i2MFCS.WMS.Database.Tables.WMSContext;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" /> -->
    <add name="WMSContext" connectionString="Data Source=taihmlzdepodb;Initial Catalog=i2MFCS.WMS.Database.Tables.WMSContext;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <!--      <basicHttpBinding>
        <binding name="SecurityByTransport">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding> -->
      <basicHttpBinding>
        <binding name="SecurityByTransport">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SBWSSoap"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWMS" />
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="i2MFCS.WMS.WCF.WMSToERP">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9020/i2MFCS.WMS/WMSToERP/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="i2MFCS.WMS.WCF.IWMSToERP">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="i2MFCS.WMS.WCF.WMSToMFCS">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/i2MFCS.WMS/WMSToMFCS/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="i2MFCS.WMS.WCF.IWMSToMFCS">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="i2MFCS.WMS.WCF.WMSToUI">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/i2MFCS.WMS/WMSToUI/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="i2MFCS.WMS.WCF.IWMSToUI">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <useRequestHeadersForMetadataAddress />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <!--      <endpoint address="http://192.168.1.177:9001/WMS/" binding="wsHttpBinding" -->
      <endpoint address="http://localhost:9001/WMS/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWMS" contract="MFCS_Proxy.IWMS" name="WSHttpBinding_IWMS">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.0.61:8090/sbws.asmx" binding="basicHttpBinding" bindingConfiguration="SBWSSoap" contract="ERP_Proxy.SBWSSoap" name="SBWSSoap" />
<!--      <endpoint address="http://91.102.161.118:8050/sbws.asmx" binding="basicHttpBinding" bindingConfiguration="SBWSSoap" contract="ERP_Proxy.SBWSSoap" name="SBWSSoap" /> -->

    </client>
  </system.serviceModel>


</configuration>
